<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FfmpegPath" value="c:\ffmpeg\bin\ffmpeg.exe" />
    <add key="Mp4BoxPath" value="c:\Program Files\GPAC\mp4box.exe" />
    <add key="OutputFolder" value="D:\temp\output" />
    <add key="ServerUrl" value="http://od01udv:9000/api" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
