<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FFmpegFarm.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <FFmpegFarm.WindowsService.Properties.Settings>
      <setting name="Threads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FFmpegLogPath" serializeAs="String">
        <value>\\ondnas01.net.dr.dk\MediaCache\ffmpeg-farm\logfiles</value>
      </setting>
      <setting name="ControllerApi" serializeAs="String">
        <value>http://od01udv.net.dr.dk:9000</value>
      </setting>
      <setting name="EnvorimentVars" serializeAs="String">
        <value>FC_CONFIG_DIR=\\ondnas01\MediaCache;FONTCONFIG_FILE=\\ondnas01\MediaCache\fonts.conf;FONTCONFIG_PATH=\\ondnas01\MediaCache</value>
      </setting>
      <setting name="FFmpegPath" serializeAs="String">
        <value>\\ondnas01.net.dr.dk\MediaCacheTest\tools\ffmpeg-3.4.1-win64-static\bin\ffmpeg.exe</value>
      </setting>
      <setting name="StereoToolPath" serializeAs="String">
        <value>\\ondnas01.net.dr.dk\MediaCacheTest\ffmpeg-farm\stereotool\stereo_tool_cmd_9.02.exe</value>
      </setting>
      <setting name="StereoToolPresetsPath" serializeAs="String">
        <value>\\ondnas01.net.dr.dk\MediaCacheTest\ffmpeg-farm\stereotool\presets\</value>
      </setting>
      <setting name="StereoToolLicensePath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ForceTempFolder" serializeAs="String">
        <value>C:\Temp</value>
      </setting>
    </FFmpegFarm.WindowsService.Properties.Settings>
  </applicationSettings>
</configuration>