<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<applicationSettings>
		<FFmpegFarm.WindowsService.Properties.Settings>
      <setting name="Threads" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>6</value>
      </setting>
			<setting name="ControllerApi" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>http://ffmpeg01.net.dr.dk:9000</value>
			</setting>
			<setting name="FFmpegPath" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>\\net.dr.dk\od$\Tools\ffmpeg-3.4.1-win64-static\bin\ffmpeg.exe</value>
			</setting>
      <setting name="FFmpegLogPath" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>\\net.dr.dk\od$\MediaCache\ffmpeg-farm\logfiles</value>
      </setting>
		  <setting name="EnvorimentVars" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
		    <value>FC_CONFIG_DIR=\\net.dr.dk\od$\MediaCache;FONTCONFIG_FILE=\\net.dr.dk\od$\MediaCache\fonts.conf;FONTCONFIG_PATH=\\net.dr.dk\od$\MediaCache</value>
		  </setting>
		</FFmpegFarm.WindowsService.Properties.Settings>
	</applicationSettings>
</configuration>