<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFmpegFarm.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FFmpegFarm.WindowsService.Properties.Settings>
            <setting name="EnvorimentVars" serializeAs="String">
                <value>FC_CONFIG_DIR=\\ondnas01\MediaCache;FONTCONFIG_FILE=\\ondnas01\MediaCache\fonts.conf;FONTCONFIG_PATH=\\ondnas01\MediaCache</value>
            </setting>
            <setting name="Threads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FFmpegLogPath" serializeAs="String">
                <value>d:\temp\logfiles</value>
            </setting>
            <setting name="ControllerApi" serializeAs="String">
                <value>http://localhost:9000</value>
            </setting>
            <setting name="FFmpegPath" serializeAs="String">
                <value>d:\ffmpeg-3.2.4-win64-static\bin\ffmpeg.exe</value>
            </setting>
            <setting name="RabbitMqDsn" serializeAs="String">
                <value>amqp://guest:guest@localhost:5672</value>
            </setting>
            <setting name="RabbitMqQueueName" serializeAs="String">
                <value>ffmpeg-farm-status</value>
            </setting>
            <setting name="RabbitMqEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </FFmpegFarm.WindowsService.Properties.Settings>
    </applicationSettings>
</configuration>