<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="FFmpegLogPath" value="\\onddata.net.dr.dk\cache$\MediaCache\ffmpeg-farm\logfiles\"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MediaInfoPath" value="\\onddata.net.dr.dk\cache$\MediaCache\Tools\MediaInfo.exe"
     xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <nlog internalLogFile="D:\Service\FFmpegServerAPI\nlog_internallog.txt" internalLogLevel="Error" internalLogIncludeTimestamp="true"
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xdt:Locator="Match(internalLogLevel)" xdt:Transform="SetAttributes">
    <rules>
      <logger xdt:Locator="Match(writeTo)" writeTo="console" xdt:Transform="Remove" />
    </rules>
  </nlog>
</configuration>