<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MediaInfoPath" value="\\ondnas01\MediaCacheTest\tools\MediaInfo\version20160517\MediaInfo.exe"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=OD01TST.NET.DR.DK;Initial Catalog=ffmpegfarm;Integrated Security=true;MultipleActiveResultSets=True"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
</configuration>